* {
    margin: 0px;
    padding: 0px;
}


header {
    padding: 200px 0px;
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1 {
    text-align: center;
    font-size: 72px;
    color: #ffffff;
    font-weight: 600;

}

header p {
    font-size: 24px;
    color: #cccccc;
    text-align: center;
}

.players {
    padding: 25px;
}

.main-section {
    padding: 50px 0px;
    background-color: #000000;
}

.selected {
    padding: 15px;
    margin: 15px 0px;
}

.selected h1 {}

.budget {
    padding: 15px;
}

.budget h6 {
    margin: 20px 0px;
    font-size: 24px;
}

.budget p {
    font-size: 18px;
    margin: 20px 0x;
}

li {
    color: #ffffff;
    font-size: 20px;
}

button {
    display: inline;
    width: 100%;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc !Important;
    color: #ffffff !Important;
    outline: none;
}

.flex-row {
    flex-direction: row !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-row p {
    margin-right: 10px;
}

.total h4 {
    color: #FF5E19;
    font-size: 24px;
}